<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyPoint</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: "Josefin Sans", sans-serif!important;
        }
    </style>
</head>
<body class="bg-gray-50 text-gray-900">
    <!-- Header -->
    <div class="flex flex-1 justify-between bg-indigo-50 py-6 border-b border-indigo-200 px-8 items-center shadow-md mb-5 fixed w-full ">
        <a href="{% url 'homePage' %}"><h1 class="text-3xl font-semibold text-black">StudyPoint</h1></a>
        <form action="{% url 'search' %}" method="get" class="flex bg-white rounded-lg w-full mx-[12%] border border-indigo-200">
            <input type="text" placeholder="Search for courses, topics, instructors etc." name="q" class="bg-transparent w-full px-3 py-2 rounded-lg">
            <button type="submit" class="px-4 py-2 rounded-lg flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                  
            </button>
        </form>
        <nav class="flex space-x-6 text-lg">
            <a href="{% url 'register' %}" class="text-black hover:text-indigo-500 transition duration-300">SignUp</a>
            <a href="{% url 'login' %}" class="text-black hover:text-indigo-500 transition duration-300">Login</a>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="flex flex-1 pt-[7%]">
        
            {% block "content" %}
            <!-- Blog content will go here -->
            {% endblock %}

    </div>
</body>
</html>
