{% extends "auth_base.html" %}
{% load tailwind_filters %}

{% block "content" %}
    <div class="flex flex-1 justify-center items-center h-[80vh]">
        <form action="" method="post" class="w-ful flex flex-1 justify-center">
            {% csrf_token %}
            <div class="w-5/12 shadow-lg p-[5%]">
                <div class="flex flex-1">
                    <h1 class="text-2xl font-bold mb-3">Create New User Account Here</h1>
                </div>
                {{form|crispy}}
                <div class="mb-3">
                    <input type="submit" class="bg-indigo-700 text-white cursor-pointer px-3 py-2 w-full rounded-lg">
                </div>
            </div>
        </form>
    </div>
{% endblock %}